/.quarto/
/_book/
/.luarc.json
**/*.quarto_ipynb
**/.jupyter_cache

*.aux
*.bbl
*.bcf
*.blg
*.fls
*.log
*.synctex.gz
*.toc
*.xdv
*.xml

index.tex
index.pdf
thesis.tex
thesis.pdf

.brename_detail.txt
.cspell.json
.cspell_words.txt
.vale.ini
.DS_Store
