/.quarto/
/_book/
**/*.quarto_ipynb

*.aux
*.bbl
*.bcf
*.blg
*.fls
*.log
*.synctex.gz
*.toc
*.xdv
*.xml

index.tex
index.pdf
thesis.tex
thesis.pdf

.luarc.json
.brename_detail.txt
.cspell.json
.cspell_words.txt
.vale.ini
.DS_Store
